

.content-area {
  max-width: 1280px;
  margin: 0 auto;
  font-size: 22px;
  /* background: linear-gradient(to bottom left, #216E93, #21648A, #1F5881, #172D5B, #191C51); */
  background-color:rgba(69, 65, 78, 0.08);
}

.dark{
  max-width: 1280px;
  margin: 0 auto;
  font-size: 22px;
  background: linear-gradient(to bottom left, #216E93, #21648A, #1F5881, #172D5B, #191C51);
  /* background-color:rgba(69, 65, 78, 0.08); */
}
